# Autodetect text files
* text=lf

# Definitively text files 
*.xml text
*.java text
*.properties text
*.html text
*.xhtml text
*.jsp text
*.jsf text
*.txt text
*.c text
*.h text

# Ensure those won't be messed up with
*.jpg binary
*.png binary
*.rtf binary
*.doc binary
*.docx binary
